
* {
    font-family: 'Montserrat', sans-serif;
    outline: 0;
}

@media screen and (max-width: 980px) {
    .products {
        width: 30%;
        text-align: center;
        margin: 1.66%;
    }
}

.add-to-cart {
    display: block;
    margin: 0 auto;
    width: 10em;
    height: 40px;
    background: #62ff8e;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

button {
    font-size: 15px;
    display: inline-block;
    padding: 8px 12px;
    border: none;
    background-color: #62ff8e;
    color: white;
    margin: 3px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}


button:hover {
    background: #4cea71;

}
button:active {
    background: #62ff8e;
}

input{
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #ccc;
    font-size: 1em;
}

input:focus {
    outline: none;
    border-color: #62ff8e;
    box-shadow: 0 0 3px #62ff8e;
}

.ProductList{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}